@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap");
.theme {
  --backgroundColor: #ffffff;
  --sectionBackgroundColor: #f3f5f8;
  --mainColor: #572ee5;
  --barColor: #572ee5;
  --hamMenuColor: #572ee5e6;
  --inputText: #000000;
  --textSectionColor: #50e3c2;
}

.theme--dark {
  --backgroundColor: #37383c;
  --sectionBackgroundColor: #222326;
  --mainColor: #ffffff;
  --barColor: #000000;
  --hamMenuColor: #000000e6;
  --inputText: #ffffff;
  --textSectionColor: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Header y nav menu */
body {
  background-color: var(--backgroundColor);
}

body header .blue-bar-top {
  background-color: var(--barColor);
  width: 100%;
  height: 0.31rem;
}

body header nav {
  height: 5.938rem;
}

body header nav .logo .logo-svg {
  height: 3.05rem;
  width: 3.05rem;
  margin: 1.81rem 0 1.08rem 1.38rem;
}

body header nav .logo .logo-svg #GIFOS {
  fill: var(--mainColor);
}

body header nav .hamMenu .burguer-icon {
  position: absolute;
  top: 3.25rem;
  right: 1.63rem;
  cursor: pointer;
}

body header nav .hamMenu .burguer-icon span {
  display: block;
  width: 0.94rem;
  height: 0.125rem;
  margin-bottom: 0.3rem;
  background-color: var(--mainColor);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
}

body header nav .hamMenu .burguer-open-icon span:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}

body header nav .hamMenu .burguer-open-icon span:nth-child(2) {
  opacity: 0;
}

body header nav .hamMenu .burguer-open-icon span:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

body header nav .hamMenu .menu {
  position: absolute;
  top: 6.25rem;
  list-style: none;
  background-color: var(--hamMenuColor);
  height: 0;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}

body header nav .hamMenu .menu li:nth-child(2n) {
  height: 0.01rem;
  width: 2.56rem;
  background-color: #ffffff;
  margin: 0;
}

body header nav .hamMenu .menu li {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 0.94rem;
  letter-spacing: 0;
  line-height: 1.88rem;
  margin: 2rem 0 0.69rem 0;
  text-align: center;
}

body header nav .hamMenu .menu li:hover {
  border-bottom: 2px solid #50e3c2;
  cursor: pointer;
}

body header nav .hamMenu .menu li:nth-child(2n + 3) {
  margin: 0.87rem 0 0.69rem 0;
}

body header nav .hamMenu .menu a {
  text-decoration: none;
}

body header nav .hamMenu .menu a .new-gifos-button {
  display: none;
  height: 3.38rem;
  width: 3.38rem;
  border-radius: 100%;
  border: 1px solid var(--mainColor);
}

body header nav .hamMenu .menu a .new-gifos-button span {
  font-size: 2rem;
  font-weight: lighter;
  position: relative;
  top: 35%;
  color: var(--mainColor);
}

body header nav .hamMenu .menu a .new-gifos-button:hover {
  background-color: var(--mainColor);
  border-bottom: 2px solid var(--mainColor);
}

body header nav .hamMenu .menu a .new-gifos-button:hover span {
  color: var(--backgroundColor);
}

body header nav .hamMenu .menu li:nth-child(5) {
  color: #9cafc3;
}

body header nav .hamMenu .menu li:nth-child(5):hover {
  border-bottom: none;
}

body header nav .hamMenu .display-menu {
  height: 100%;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
}

body main {
  /* Mis Gifos Section */
  /* Trending Section */
}

body main .misgifos-section {
  margin: 0.31rem 0 4.75rem 0;
  text-align: center;
}

body main .misgifos-section .title-misgifos-section h1 {
  margin-top: 0.38rem;
  font-family: "Montserrat", sans-serif;
  color: var(--mainColor);
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 1.88rem;
}

body main .misgifos-section .no-content-misgifos-section img {
  margin: 6.94rem 0 2.5rem 0;
}

body main .misgifos-section .no-content-misgifos-section h2 {
  font-family: "Montserrat", sans-serif;
  color: var(--textSectionColor);
  font-size: 1.38rem;
  letter-spacing: 0;
  line-height: 1.56rem;
  margin: 0 2rem 0 2rem;
}

body main .trending-section {
  background-color: var(--sectionBackgroundColor);
}

body main .trending-section .trending-section-content {
  padding-top: 2.88rem;
  text-align: center;
}

body main .trending-section .trending-section-content h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--mainColor);
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 1.88rem;
  margin-bottom: 0.44rem;
}

body main .trending-section .trending-section-content p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.44rem;
  margin: 0 1.31rem 2rem 1.31rem;
  color: var(--inputText);
}

body main .trending-section .trending-img {
  padding-bottom: 5.13rem;
}

body main .trending-section .trending-img img {
  height: 11.69rem;
  width: 15.19rem;
}

body footer {
  text-align: center;
}

body footer .footer-elements .footer-title {
  margin: 2.94rem 0 1.5rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.94rem;
  letter-spacing: 0;
  line-height: 1.13rem;
  color: var(--inputText);
}

body footer .footer-elements .social-media {
  margin: 0 0 2.99rem 0;
}

body footer .footer-elements .social-media i {
  margin-right: 1.19rem;
  font-size: 1.26rem;
  color: #cdd6e0;
}

body footer .footer-elements .social-media i:hover {
  color: var(--mainColor);
}

body footer .footer-elements .copyright {
  margin-bottom: 1.44rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.88rem;
  letter-spacing: 0;
  line-height: 1.25rem;
  color: var(--inputText);
}

body footer .blue-bar-bot {
  background-color: var(--barColor);
  width: 100%;
  height: 0.31rem;
}

@media screen and (min-width: 1220px) {
  /* Desktop header */
  body {
    /* Desktop Footer */
  }
  body header {
    position: fixed;
    top: 0rem;
    width: 100%;
    background-color: var(--backgroundColor);
  }
  body header nav {
    height: 5.63rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header nav .logo svg {
    height: 3.69rem;
    width: 3.69rem;
    margin: 1.13rem 0 0.81rem 9.75rem;
  }
  body header nav .hamMenu .burguer-icon span {
    display: none;
  }
  body header nav .hamMenu .menu {
    position: unset;
    top: 0;
    background-color: unset;
    height: unset;
    overflow: unset;
    width: unset;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 8.13rem 5.06rem 4.44rem 3.38rem;
        grid-template-columns: 8.13rem 5.06rem 4.44rem 3.38rem;
    -webkit-column-gap: 2.59rem;
            column-gap: 2.59rem;
    margin: 1.13rem 9.75rem 1.13rem 0;
  }
  body header nav .hamMenu .menu li:nth-child(2n) {
    display: none;
  }
  body header nav .hamMenu .menu li {
    color: var(--mainColor);
    font-size: 0.81rem;
    line-height: 1rem;
    margin: 0;
    text-transform: uppercase;
  }
  body header nav .hamMenu .menu li:nth-child(2n + 3) {
    margin: 0;
  }
  body header nav .hamMenu .menu li:nth-child(1) {
    display: block;
  }
  body header nav .hamMenu .menu .creator:nth-last-child(1) {
    display: none;
  }
  body main {
    /* Mis Gifos Section */
    /* Desktop Trending Section */
  }
  body main .misgifos-section {
    margin: 6.63rem 0 4.75rem 0;
    text-align: center;
  }
  body main .misgifos-section .title-misgifos-section h1 {
    margin-top: 0.38rem;
    font-family: "Montserrat", sans-serif;
    color: var(--mainColor);
    font-size: 1.25rem;
    letter-spacing: 0;
    line-height: 1.88rem;
  }
  body main .misgifos-section .no-content-misgifos-section img {
    margin: 6.94rem 0 2.5rem 0;
  }
  body main .misgifos-section .no-content-misgifos-section h2 {
    font-family: "Montserrat", sans-serif;
    color: var(--textSectionColor);
    font-size: 1.38rem;
    letter-spacing: 0;
    line-height: 1.56rem;
    margin: 0 2rem 0 2rem;
  }
  body main .trending-section .trending-section-content {
    padding-top: 4.19rem;
  }
  body main .trending-section .trending-section-content h2 {
    font-size: 1.56rem;
    margin-bottom: 0.75rem;
  }
  body main .trending-section .trending-section-content p {
    font-size: 1.13rem;
    line-height: 1.31rem;
    margin: 0 0 3.31rem 0;
  }
  body main .trending-section .trending-img {
    padding-bottom: 11.38rem;
    text-align: center;
  }
  body main .trending-section .trending-img img {
    height: 17.19rem;
    width: 22.31rem;
  }
  body footer {
    text-align: unset;
  }
  body footer .footer-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body footer .footer-elements .social-media-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body footer .footer-elements .social-media-content .footer-title {
    margin: 3.09rem 0 3.22rem 9.75rem;
    font-size: 0.81rem;
    line-height: 0.94rem;
  }
  body footer .footer-elements .social-media-content .social-media {
    margin: 2.96rem 0 3.02rem 1.06rem;
  }
  body footer .footer-elements .copyright {
    font-size: 0.81rem;
    line-height: 0.94rem;
    margin-right: 9.88rem;
  }
  body footer .blue-bar-bot {
    height: 0.32rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1219px) {
  /* Tablet header */
  body {
    /* Tablet Footer */
  }
  body header nav {
    height: 5.63rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header nav .logo svg {
    height: 3.69rem;
    width: 3.69rem;
    margin: 1.13rem 0 0.81rem 3rem;
  }
  body header nav .hamMenu .burguer-icon span {
    display: none;
  }
  body header nav .hamMenu .menu {
    position: unset;
    top: 0;
    background-color: unset;
    height: unset;
    overflow: unset;
    width: unset;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 8.13rem 5.06rem 4.44rem 3.38rem;
        grid-template-columns: 8.13rem 5.06rem 4.44rem 3.38rem;
    -webkit-column-gap: 2.59rem;
            column-gap: 2.59rem;
    margin: 1.13rem 3rem 1.13rem 0;
  }
  body header nav .hamMenu .menu li:nth-child(2n) {
    display: none;
  }
  body header nav .hamMenu .menu li {
    color: var(--mainColor);
    font-size: 0.81rem;
    line-height: 1rem;
    margin: 0;
    text-transform: uppercase;
  }
  body header nav .hamMenu .menu li a {
    color: #572ee5;
  }
  body header nav .hamMenu .menu li:nth-child(2n + 3) {
    margin: 0;
  }
  body header nav .hamMenu .menu li:nth-child(1) {
    display: block;
  }
  body header nav .hamMenu .menu .creator:nth-last-child(1) {
    display: none;
  }
  body main {
    /* Tablet Trending Section */
  }
  body main .trending-section .trending-section-content {
    padding-top: 4.19rem;
  }
  body main .trending-section .trending-section-content h2 {
    font-size: 1.56rem;
    margin-bottom: 0.75rem;
  }
  body main .trending-section .trending-section-content p {
    font-size: 1.13rem;
    line-height: 1.31rem;
    margin: 0 0 3.31rem 0;
  }
  body main .trending-section .trending-img {
    padding-bottom: 11.38rem;
    text-align: center;
  }
  body main .trending-section .trending-img img {
    height: 17.19rem;
    width: 22.31rem;
  }
  body footer {
    text-align: unset;
  }
  body footer .footer-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body footer .footer-elements .social-media-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body footer .footer-elements .social-media-content .footer-title {
    margin: 3.09rem 0 3.22rem 3rem;
    font-size: 0.81rem;
    line-height: 0.94rem;
  }
  body footer .footer-elements .social-media-content .social-media {
    margin: 2.96rem 0 3.02rem 1.06rem;
  }
  body footer .footer-elements .copyright {
    margin-bottom: 0;
    font-size: 0.81rem;
    line-height: 0.94rem;
    margin-right: 3rem;
  }
  body footer .blue-bar-bot {
    height: 0.32rem;
  }
}
/*# sourceMappingURL=misgifos.css.map */