// Font source

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap');

$monserratFont: 'Montserrat', sans-serif;
$robotoFont: 'Roboto', sans-serif;

// Font colors && Background colors

// Normal Colors

$mainColor: #572ee5;
$hamMenuBgColor: #572ee5e6;
$secondColor: #6b7989;
$sectionBackgroundColor: #f3f5f8;
$thirdColor: #9cafc3;
$backgroundColor: #ffffff;
$barColor: #572ee5;
$inputText: #000000;
$textSectionColor: #50e3c2;

// Dark Mode Colors

$barColorDM: #000000;
$backgroundColorDM: #37383c;
$mainColorDM: #ffffff;
$sectionBackgroundColorDM: #222326;
$hamMenuBgColorDM: #000000e6;
$inputTextDM: #ffffff;
$textSectionColorDM: #ffffff;


// Bright Theme and Dark Theme

.theme{
    --backgroundColor: #{$backgroundColor};
    --sectionBackgroundColor: #{$sectionBackgroundColor};
    --mainColor: #{$mainColor};
    --barColor: #{$barColor};
    --hamMenuColor: #{$hamMenuBgColor};
    --inputText: #{$inputText};
    --textSectionColor: #{$textSectionColor};

    &--dark{
        --backgroundColor: #{$backgroundColorDM};
        --sectionBackgroundColor: #{$sectionBackgroundColorDM};
        --mainColor: #{$mainColorDM};
        --barColor: #{$barColorDM};
        --hamMenuColor: #{$hamMenuBgColorDM};
        --inputText: #{$inputTextDM};
        --textSectionColor: #{$textSectionColorDM};
    }
}