// Font source

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap');

$monserratFont: 'Montserrat', sans-serif;
$robotoFont: 'Roboto', sans-serif;

// Font colors && Background colors

// Normal Colors

$mainColor: #572ee5;
$hamMenuBgColor: #572ee5e6;
$secondColor: #6b7989;
$sectionBackgroundColor: #f3f5f8;
$thirdColor: #9cafc3;
$backgroundColor: #ffffff;
$backgroundColorGradient: #ffffffe6;
$barColor: #572ee5;
$inputText: #000000;
$textSectionColor: #50e3c2;

// Dark Mode Colors

$barColorDM: #000000;
$backgroundColorDM: #37383c;
$backgroundColorGradientDM: #37383ce6;
$mainColorDM: #ffffff;
$sectionBackgroundColorDM: #222326;
$hamMenuBgColorDM: #000000e6;
$inputTextDM: #ffffff;
$textSectionColorDM: #ffffff;

// Images

// Normal Images

$camera: url(../Img/camara.svg);
$reel-small: url(../Img/element_cinta1.svg);
$reel-medium: url(../Img/element_cinta2.svg);
$reel: url(../Img/pelicula.svg);
$camera-light: url(../Img/element-luz-camara.svg);
$logo: url(../Img/logo.svg);

// Dark Mode Images

$cameraDM: url(../Img/camara-modo-noc.svg);
$reel-smallDM: url(../Img/element_cinta1-modo-noc.svg);
$reel-mediumDM: url(../Img/element_cinta2-modo-noc.svg);
$reelDM: url(../Img/pelicula-modo-noc.svg);
$logoDM: url(../Img/logo-noc.svg);

// Bright Theme and Dark Theme

.theme{
    --backgroundColor: #{$backgroundColor};
    --sectionBackgroundColor: #{$sectionBackgroundColor};
    --mainColor: #{$mainColor};
    --barColor: #{$barColor};
    --hamMenuColor: #{$hamMenuBgColor};
    --inputText: #{$inputText};
    --textSectionColor: #{$textSectionColor};
    --backgroundColorGradient: #{$backgroundColorGradient};

    // Images

    --camera: #{$camera};
    --reel-small: #{$reel-small};
    --reel-medium: #{$reel-medium};
    --reel: #{$reel};
    --logo: #{$logo};

    &--dark{
        --backgroundColor: #{$backgroundColorDM};
        --sectionBackgroundColor: #{$sectionBackgroundColorDM};
        --mainColor: #{$mainColorDM};
        --barColor: #{$barColorDM};
        --hamMenuColor: #{$hamMenuBgColorDM};
        --inputText: #{$inputTextDM};
        --textSectionColor: #{$textSectionColorDM};
        --backgroundColorGradient: #{$backgroundColorGradientDM};
        
        // Images Dark Mode

        --camera: #{$cameraDM};
        --reel-small: #{$reel-smallDM};
        --reel-medium: #{$reel-mediumDM};
        --reel: #{$reelDM};
        --logo: #{$logoDM};
    }
}